# Ignore generated kernel headers
vmlinux.h
**/vmlinux.h

# Ignore compiled object binaries and skeletons
*.o
*.skel.h
src/user/monitor

# Ignore data and engine visualization outputs
*.gexf
*.html
__pycache__/
lib/
venv/

